In [ ]:
#Write a Python program to sum all the items in a list.
x=[1,2,5,7,9,10,12]
total = 0
for i in x:
  total+=i
print('The sum all the items:',total)

The sum all the items: 46

In [ ]:
x=[1,3,4,5,10,12]
def fun():
  total= 0
  for i in x:
    total+=i

print('The sum all he items:',total)
fun()

The sum all he items: 46

In [ ]:
#Write a Python program to multiplies all the items in a list.
x=[1,2,4,5,7,8,12,19,20]
multi=1
for i in x:
  multi*=i
print('The multiplies all the item in a list',multi)

The multiplies all the item in a list 10214400

In [ ]:
x=[1,2,3,4,5,7,10,12,19,20]
def fun():
  multi=1
  for i in x:
    multi*=i
print('The multiples all the items:',multi)
fun()

The multiples all the items: 10214400

In [ ]:
#Write a Python program to get the largest number from a list.
x=[1,4,9,10,12,18,20]
largest=x[0]
for i in x:
  if i>largest:
    largest=i
print('The largest number is:',largest)

The largest number is: 20

In [ ]:
x=[1,2,5,8,9,10,15,19,20]
def fun():
  largest=x[0]
  for i in x:
    if i>largest:
      largest=i
print('The largest number is:',largest)
fun()

The largest number is: 20

In [ ]:
#Write a Python program to get the smallest number from a list.
x=[1,5,19,20,25,39]
small=x[0]
for i in x:
  if i<small:
    small=i
print('The smallest nuumber is',small)

The smallest nuumber is 1

In [ ]:
x=[1,3,18,19,25,30]
def fun():
  small=x[0]
  for i in x:
    if i<small:
      small=i
print('The smallest number is:',small)
fun()

The smallest number is: 1

In [ ]:
#Write a Python program to count the number of strings where the string lengt is 2 or more and the first and last character are same from a given list of strings.
x=['omi','tanvir','nyone','panna','sazib']
count=0
for i in x:
  if len(i)>=2 and i[0]==i[-1]:
    count+=1
print('The list is:',count)

The list is: 0

In [ ]:
x=['omi','tanvir','nyone','panna','sazib']
def fun():
  count=0
  for i in x:
    if len(i)>=2 and i[0]==i[-1]:
      count+=1
print('The list is:',count)
fun()

The list is: 0

In [ ]:
#Write a Python program to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples.

x = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]

for i in range(len(x)):
    for j in range(len(x) - 1):
        if x[j][-1] > x[j + 1][-1]:
            x[j], x[j + 1] = x[j + 1], x[j]

print('Order by the last element:', x)

Order by the last element: [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [ ]:
x = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
def fun():
  for i in range(len(x)):
    for j in range(len(x)-1):
      if x[j][-1]>x[j+1][-1]:
        x[j],x[j+1]=x[j+1],x[j]
print('Order by the last element:',x)
fun()

Order by the last element: [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]

In [ ]:
#Write a Python program to remove duplicates from a list.
x=[1,2,3,4,5,1,2,9,10]
dupli_number=[]
for i in x:
  if i not in dupli_number:
    dupli_number.append(i)
print('Remove duplicate numbers:',dupli_number)

Remove duplicate numbers: [1, 2, 3, 4, 5, 9, 10]

In [ ]:
x=[1,2,3,4,5,1,2,9,10]
def fun():
  dupli_num=[]
  for i in x:
    if i not in dupli_num:
      dupli_num.append(i)
  print('Remove duplicate numbers:',dupli_num)
fun()

Remove duplicate numbers: [1, 2, 3, 4, 5, 9, 10]

In [ ]:
x=[1,2,3,4,5]
y=[]
if not y:
  print('Not Empty list')
else:
  print(' empty list')

Not Empty list

In [ ]:
x=[1,2,3,4,5]
def fun():
  y=[]
  if not y:
    print('Not empty list')
  else:
    print('Empty list')
fun()

Not empty list

In [ ]:
#Write a Python program to clone or copy a list.
x=[1,2,3,4,5]
copy_list=x[ : ]
print('copy list given:',copy_list)

copy list given: [1, 2, 3, 4, 5]

In [ ]:
x=[1,2,3,4,5,6]
def fun():
  copy_list=x[ : ]
  print('Copy list given',copy_list)
fun()

Copy list given [1, 2, 3, 4, 5, 6]

In [ ]:
#Write a Python program to find the list of words that are longer than n from a given list of words.
x=['omi','tanvir','shadat','roniul','sunny','sajib']
long_list=[]
n=5
for i in x:
  if len(i)>n:
    long_list.append(i)
print('The list were given',long_list)

The list were given ['tanvir', 'shadat', 'roniul']

In [ ]:
x=['omi','tanvir','shadat','robiul','sunny','sajib']
def fun():
  long_list=[]
  n=4
  for i in x:
    if len(i)>n:
      long_list.append(i)
  print('Thelist were given',long_list)
fun()

Thelist were given ['tanvir', 'shadat', 'robiul', 'sunny', 'sajib']

In [ ]:
#Write a Python function that takes two lists and returns True if they have at least one common member.
x=[1,2,3,4,5,6]
y=[2,3,4,5]
common=False
for i in x:
  if i in y:
    common=True
    break
print(common)

True

In [ ]:
x=[1,2,3,4]
y=[5,6,7,8]
def fn():
  common=False
  for i in x:
    if i in y:
      common=True
      break
  print(common)
fn()

False

In [ ]:
#Write a Python program to print a specified list after removing the 0th, 4th and 5th elements.
x=['omis','Shahadat','Robiul']
y=[]
for i in range(len(x)):
  if i not in range(0,4,5):
    y.append(x[i])
print(y)

['Shahadat', 'Robiul']

In [ ]:
x=['omis','robiul','shahadat']
def fun():
  y=[]
  for i in range(len(x)):
    if i not in range(0,4,5):
      y.append(x[i])
  print(y)
fun()

['robiul', 'shahadat']

In [ ]:
#Write a Python program to print the numbers of a specified list after removing even numbers from it.
x=[1,2,34,5,8,10]
odd_list=[]
for i in x:
  if i%2!=0:
    odd_list.append(i)
print('odd list given',odd_list)

odd list given [1, 5]

In [ ]:
x=[1,2,3,5,8,10,13,15]
def fun():
  odd_list=[]
  for i in x:
    if i%2!=0:
      odd_list.append(i)
  print('odd list is given',odd_list)
fun()

odd list is given [1, 3, 5, 13, 15]

In [ ]:
#Write a Python program to generate and print a list except for the first 5 elements, where the values are square of numbers between 1 and 30 (both included).
x=[]
for i in range(1,31):
  x.append(i**2)
print (x[5 : ])

[36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

In [ ]:
def fun():
  x=[]
  for i in range(1,31):
    x.append(i**2)
  print('square of numbers is',x[5 : ])
fun()

square of numbers is [36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

In [ ]:
#Write a Python program to generate all permutations of a list in Python.
import itertools

x = [1, 2, 3, 4]

permutations = list(itertools.permutations(x))

print('Permutations of the list are:', permutations)

Permutations of the list are: [(1, 2, 3, 4), (1, 2, 4, 3), (1, 3, 2, 4), (1, 3, 4, 2), (1, 4, 2, 3), (1, 4, 3, 2), (2, 1, 3, 4), (2, 1, 4, 3), (2, 3, 1, 4), (2, 3, 4, 1), (2, 4, 1, 3), (2, 4, 3, 1), (3, 1, 2, 4), (3, 1, 4, 2), (3, 2, 1, 4), (3, 2, 4, 1), (3, 4, 1, 2), (3, 4, 2, 1), (4, 1, 2, 3), (4, 1, 3, 2), (4, 2, 1, 3), (4, 2, 3, 1), (4, 3, 1, 2), (4, 3, 2, 1)]

In [ ]:
import itertools
x=[1,2,3,4]
def fun(y):
  permutations=list(itertools.permutations(y))
  return permutations
print('Permutations of the list:',fun(x))

Permutations of the list: [(1, 2, 3, 4), (1, 2, 4, 3), (1, 3, 2, 4), (1, 3, 4, 2), (1, 4, 2, 3), (1, 4, 3, 2), (2, 1, 3, 4), (2, 1, 4, 3), (2, 3, 1, 4), (2, 3, 4, 1), (2, 4, 1, 3), (2, 4, 3, 1), (3, 1, 2, 4), (3, 1, 4, 2), (3, 2, 1, 4), (3, 2, 4, 1), (3, 4, 1, 2), (3, 4, 2, 1), (4, 1, 2, 3), (4, 1, 3, 2), (4, 2, 1, 3), (4, 2, 3, 1), (4, 3, 1, 2), (4, 3, 2, 1)]

In [ ]:
#Write a Python program to get the difference between the two lists.
x=[1,2,3,4,5,55]
y=[2,8,10,15,26,30]
diff=[]
for i in x:
  if i not in y:
    diff.append(i)
for j in y:
  if j not in x:
    diff.append(i)
print('Difference between the two list:',diff)

Difference between the two list: [1, 3, 4, 5, 55, 55, 55, 55, 55, 55]

In [ ]:
x=[1,2,3,4,5,6]
y=[3,4,5,10,12,16]
def fun():
  diff=[]
  for i in x:
    if i not in x:
      diff.append(i)
  for j in y:
    if j not in x:
      diff.append(i)
print('Difference from two list:',diff)
fun()

Difference from two list: [1, 3, 4, 5, 55, 55, 55, 55, 55, 55]

In [ ]:
#Write a Python program access the index of a list.
x=[1,2,3,4]
for i in range(len(x)):
  print('Index',i,'=',x[i])

Index 0 = 1
Index 1 = 2
Index 2 = 3
Index 3 = 4

In [ ]:
x=[1,2,3,4]
def fun():
  for i in range(len(x)):
    print('Index',i,'=',x[i])
fun()

Index 0 = 1
Index 1 = 2
Index 2 = 3
Index 3 = 4

In [2]:
#Write a Python program to convert a list of characters into a string.
x=['H', 'e', 'l', 'l', 'o']
string=''
for i in x:
  string+=i
print('Converted string:',string)

Converted string: Hello

In [3]:
x=['H', 'e', 'l', 'l', 'o']
def fun():
  string=''
  for i in x:
    string+=i
  print('Converted string value:',string)
fun()

Converted string value: Hello

In [6]:
#Write a Python program to find the index of an item in a specified list.
x = [10, 20, 30, 40, 50]
find=20
for i in range(len(x)):
  if x[i]==find:
    print('specified list ',find,'is:',i)

specified list  20 is: 1

In [9]:
x = [10, 20, 30, 40, 50]
def fun():
  find=40
  for i in range(len(x)):
    if x[i]==find:
      print('Speccified list',find,'is',i)
fun()

Speccified list 40 is 3

In [10]:
#Write a Python program to flatten a shallow list.
x = [[1, 2], [3, 4], [5, 6]]
shallow_list=[]
for i in x:
  for j in i:
    shallow_list.append(j)
print('Shallow list is:',shallow_list)

Shallow list is: [1, 2, 3, 4, 5, 6]

In [11]:
x = [[1, 2], [3, 4], [5, 6]]
def fun():
  shallow_list=[]
  for i in x:
    for j in i:
      shallow_list.append(j)
  print('Shallow list is',shallow_list)
fun()

Shallow list is [1, 2, 3, 4, 5, 6]

In [12]:
#Write a Python program to append a list to the second list.
x=[1,2,3,4]
y=[2,3,4,5]
x.append(y)
print('After appending list are',x)

After appending list are [1, 2, 3, 4, [2, 3, 4, 5]]

In [13]:
x=[1,2,3,4]
y=[2,6,7,8]
def fun():
  x.append(y)
  print('After apending list is:',x)
fun()

After apending list is: [1, 2, 3, 4, [2, 6, 7, 8]]

In [15]:
#Write a Python program to select an item randomly from a list.
import random
x=[1,2,3,4,5]
y= random.choice(x)
print('Randomly choice:',y)

Randomly choice: 1

In [17]:
import random
x=[2,3,4,5,10]
def fn():
  y=random.choice(x)
  print('Randomly choice is:',y)
fn()

Randomly choice is: 4

In [18]:
#Write a python program to check whether two lists are circularly identical.
x=[12,13,15,16,20]
y=[20,25,30,36,80]
z=False
if len(x)==len(y):
  for i in range(len(y)):
    xy=x[1:]+y[:1]
    if xy==y:
      z=True
      break
if z:
  print('The lists are circularly identical')
else:
  print('The lists are not circularly identical')

The lists are not circularly identical

In [19]:
x=[1,2,3,4,5]
y=[2,3,4,5,6]
def fun():
  z=False
  if len(x)==len(y):
    for i in range(len(y)):
      xy=x[1:]+y[:1]
      if xy==y:
        z=True
        break
  if z:
    print('The lists are circulaly identical')
  else:
    print('The list are not circularly identical')
fun()

The list are not circularly identical

In [22]:
#Write a Python program to find the second smallest number in a list.
x=[1,2,5,7,9,10,-1,-2]
x.sort()
sl_list=x[1]
print('The second smallest number is:',sl_list)

The second smallest number is: -1

In [23]:
x=[1,2,3,4,5,-1,-2]
def fn():
  x.sort()
  sl_list=x[1]
  print('The second smallest number is:',sl_list)
fn()

The second smallest number is: -1

In [24]:
#Write a Python program to find the second largest number in a list.
x=[18,20,26,30,35]
x.sort()
lg_list=x[-2]
print('The second largest number is:',lg_list)

The second largest number is: 30

In [25]:
x=[12,17,20,25,30]
def fun():
  x.sort()
  lg_list=x[-2]
  print('The seccond largest number is:',lg_list)
fun()

The seccond largest number is: 25

In [26]:
#Write a Python program to get unique values from a list.
x=[1,2,3,4,5,6,1,23,4,5,6]
y=[]
for i in x:
  if i not in y:
    y.append(i)
print('The unique number is:',y)

The unique number is: [1, 2, 3, 4, 5, 6, 23]

In [27]:
x=[1,2,3,4,5,6,8,10,1,2,3,4,5,6]
def fun():
  for i in x:
    if i not in y:
      y.append(i)
  print('The unique number is:',y)
fun()

The unique number is: [1, 2, 3, 4, 5, 6, 23, 8, 10]

In [31]:
#Write a Python program to get the frequency of the elements in a list.
x=[1,2,3,4,5,6,1,2,3,4,5]
y={}
for i in x:
  if i in y:
    y[i]+=1
  else:
    y[i]=1
print('The frequency of list:',y)

The frequency of list: {1: 2, 2: 2, 3: 2, 4: 2, 5: 2, 6: 1}

In [32]:
x=[1,2,3,4,5,6,10,2,3,4,5]
def fun():
  y={}
  for i in x:
    if i in y:
      y[i]+=1
    else:
      y[i]=1
  print('The frequency list is:',y)
fun()

The frequency list is: {1: 1, 2: 2, 3: 2, 4: 2, 5: 2, 6: 1, 10: 1}

In [35]:
#Write a Python program to count the number of elements in a list within a specified range.
x=[20,40,45,50,55,60,65,70,78,80,94,86,90]
lower=20
upper=70
count=0
for i in x:
  if lower<=i<=upper:
    count+=1
print('The specified range between',lower,'and',upper,'=',count)

The specified range between 20 and 70 = 8

In [36]:
x=[20,40,45,50,55,60,65,70,78,80,94,86,90]
def fun():
  lower=30
  upper=80
  count=0
  for i in x:
    if lower<=i<=upper:
      count+=1
  print('The specified range between',lower,'and',upper,'=',count)
fun()

The specified range between 30 and 80 = 9

In [37]:
#32. Write a Python program to check whether a list contains a sublist.
x=[1,2,3,4,5]
y=[3,4,5]
z=False
for i in range(len(x)):
  if x[i:i+len(y)]==y:
    z=True
    break
if z:
  print('yeah i found sublist!!!')
else:
  print('uff no fouund....')

yeah i found sublist!!!

In [39]:
x=[1,2,3,4,5]
y=[3,4,5]
def fun():
  z=False
  for i in range(len(x)):
    if x[i:i+len(y)]==y:
      z=True
      break
  if z:
    print('Yeah i found a sublist....')
  else:
    print('uffs no found....')
fun()

Yeah i found a sublist....

In [40]:
#Write a Python program to generate all sublists of a list.
x=[1,2,3,4]
y=[]
for i in range(len(x)):
  for j in range(i+1,len(x)+1):
    y.append(x[i:j])
print('all sublist are given',y)

all sublist are given [[1], [1, 2], [1, 2, 3], [1, 2, 3, 4], [2], [2, 3], [2, 3, 4], [3], [3, 4], [4]]

In [41]:
x=[1,2,3,4]
def fun():
  y=[]
  for i in range(len(x)):
    for j in range(i+1,len(x)+1):
      y.append(x[i:j])
  print('all sublist are given:',y)
fun()

all sublist are given: [[1], [1, 2], [1, 2, 3], [1, 2, 3, 4], [2], [2, 3], [2, 3, 4], [3], [3, 4], [4]]

In [45]:
#Write a Python program to create a list by concatenating a given list which range goes from 1 to n.
x=['y','z']
n=4
y=[]
for i in range(1,n+1):
  for j in x:
    y.append(j+str(i))
print('create a list by concatenating:',y)

create a list by concatenating: ['y1', 'z1', 'y2', 'z2', 'y3', 'z3', 'y4', 'z4']

In [46]:
x=['y','z']
def fun():
  n=4
  y=[]
  for i in range(1,n+1):
    for j in x:
      y.append(j+str(i))
  print('create a list by concatenating',y)
fun()

create a list by concatenating ['y1', 'z1', 'y2', 'z2', 'y3', 'z3', 'y4', 'z4']

In [47]:
#36. Write a Python program to get variable unique identification number or string.
x='omi'
y=1234
z=[x,y,z]
print('Id of x:',id(x))
print('Id of y:',id(y))
print('Id of z:',id(z))

Id of x: 136191399431456
Id of y: 136191388803472
Id of z: 136191386320576

In [48]:
x='omi'
y=1221
z=[x,y,z]
def fun():
  print('Id of x:',id(x))
  print('Id of y:',id(y))
  print('Id of z:',id(z))
fun()

Id of x: 136191399431456
Id of y: 136191388806512
Id of z: 136191391787840

In [49]:
#Write a Python program to find common items from two lists.
x=[1,2,3,4]
y=[4,5,6,7]
z=[]
for i in x:
  if i in y:
    z.append(i)
print('Common item....:',z)

Common item....: [4]

In [51]:
x=[1,2,3,4]
y=[4,5,6,7]
def fun():
  z=[]
  for i in x:
    if i in y:
      z.append(i)
  print('Common items.....',z)
fun()

Common items..... [4]

In [56]:
#Write a Python program to change the position of every n-th value with the (n+1)th in a list.
x=[1,2,3,4,5,6]
for i in range(0,len(x)-1,2):
  y=x[i]
  x[i]=x[i+1]
  x[i+1]=y
print('Change the posiion of every time:',x)

Change the posiion of every time: [2, 1, 4, 3, 6, 5]

In [57]:
x=[1,2,3,4,5]
def fun():
  for i in range(0,len(x)-1,2):
    y=x[i]
    x[i]=x[i+1]
    x[i+1]=y
  print('Change the position....',x)
fun()

Change the position.... [2, 1, 4, 3, 5]

In [58]:
#Write a Python program to convert a list of multiple integers into a single integer.
x=[1,2,3,4,5,6]
y=''
for i in x:
  y=y+str(i)
print('single integer....',int(y))

single integer.... 123456

In [61]:
x=[1,2,3,4]
def fun():
  y=''
  for i in x:
    y=y+str(i)
  print('single element....',int(y))
fun()

single element.... 1234

In [65]:
# Write a Python program to split a list based on first character of word.
x = ['apple', 'banana', 'apricot', 'cherry', 'blueberry', 'avocado']
y={}
for i in x:
  z=i[0]
  if z not in y:
    y[z]=[]
  y[z].append(i)
print(y)

{'a': ['apple', 'apricot', 'avocado'], 'b': ['banana', 'blueberry'], 'c': ['cherry']}

In [68]:
# Write a Python program to split a list based on first character of word.
x = ['apple', 'banana', 'apricot', 'cherry', 'blueberry', 'avocado']
def fun():
  y={}
  for i in x:
    z=i[0]
    if z not in y:
      y[z]=[]
    y[z].append(i)
  print(y)
fun()

{'a': ['apple', 'apricot', 'avocado'], 'b': ['banana', 'blueberry'], 'c': ['cherry']}

In [74]:
#[10,15,12,18,17,29,23]ei list er vitor theke prime number find korbe using function
#take a list and check wheather all the item from the given list is prime or not if all the items are prime the return true or false
x=[10,15,12,18,17,29,23]
def fun(number):
  if n<2:
    return False
    for i in range(2,n):
      if n%2==0:
        return False
  return True
print('all are prime?',fun(x))

all are prime? True